// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  background-color:red;
}

.page{
  text-align:center;
}
.aaa{
  color:red;
}

.top_new{
  text-align:center;
  padding:10px;
  margin-bottom:10px;
  font-size:25px;
  background-color:red;
}

.top_edit{
  text-align:center;
  padding:10px;
  margin-bottom:10px;
  font-size:25px;
  background-color:red;
}